/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    background: url('https://media.licdn.com/dms/image/v2/D4D12AQHb-RV8x24QOQ/article-cover_image-shrink_423_752/article-cover_image-shrink_423_752/0/1711492066607?e=1747872000&v=beta&t=LLn-hG0YC9U0N09eEveSWGIHIxtWPxGNzAJFLBhvRzo') no-repeat center center/cover;
    height: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #000;
}

.header h1 {
    font-size: 2.5rem;
}

.header h2 {
    font-size: 1.5rem;
}

/* Main Content */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Postagens */
.postagem {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1 1 calc(60% - 10px);
}

.postagem h2, .postagem h3 {
    color: #6200ea;
}

.postagem p, .postagem ul {
    margin-bottom: 10px;
}

/* Sidebar */
.sidebar {
    flex: 1 1 calc(30% - 10px);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Contato */
.contato {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.contato h2 {
    color: #6200ea;
    margin-bottom: 20px;
}

.contato label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.contato input, .contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4500a1;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Scroll to Top */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #6200ea;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    transition: background-color 0.3s;
}

.scroll-to-top:hover {
    background-color: #4500a1;
}

